.imgPreview{

    margin-top: 15px;
    margin-left: 15px;
    height: 300px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;}
